// .zone-wrapper {
//   max-width: 700px;
// }
.main-posts-list {
	width: 800px;
}

.sidebar {
	margin-top: 76px;
	float: right;
	width: 200px;
	height: auto;
	background-color:  white;
	margin-left: 20px;
	    border-radius: 4px;
			box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
}

.flex-container {
	display: -webkit-flex;
 display: flex;
 width: 1000px;
}
// <div class="zone-wrapper post author- no-thumbnail" data-zone="postComponents">

.post {
	margin: 10px;
	background-color: white;
	height: 150px;
	transition-duration: .5s;
	    border-radius: 4px;
			box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
}

.post .post-title {
font-size: 35px;
}

.post img {
	height: 80px;
	width: 80px;
	border-radius: 225px;

}

.post:hover {
	margin: 10px;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	height: 150px;
	transition-duration: .5s;
	    border-radius: 4px;
}

.menu-label-text {
	font-size: 30px;
}

.header {
		box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.15 );
		background-color: #eee !important;
		color: black !important;
	// background-image: url("http://www.pawderosa.com/images/puppies.jpg");
}


.socialSharing img{
	height: 50px;
	width: 50px;
}

.views-menu-wrapper {
	background-color: #eee;
}

.post-rank-inner span{
	display: none !important;
}

.logo-text a{
	font-family: 'SugarPie',"Open Sans",Tahoma,sans-serif !important;
	color: #A9F5D0 !important;
	font-size: 50px;
	transition-duration: .5s;

}

.logo-text a:hover {
	color: black !important;
	// box-shadow: 10px 10px 5px #D358F7;
	transition-duration: .5s;
}

.search-field {
	color: black !important;
}

#submit {
	background-color:  #A9F5D0;
}

.newsletter-button{
	background-color:  #A9F5D0 !important;

}

.icon-menu {
	background-color:  #A9F5D0 !important;
}
